*{
    font-family: 'Roboto', sans-serif; 
    margin:0;
    overflow-x: hidden;

}
select{
    width:200px;
}

#complete{
    height: 100vh;
    width:100%;
}
#num{
display: block;
}
body{
    width:100%;
    background-image: linear-gradient(315deg, #155f41 0%, #74f293 74%);
}

#box{
    border-radius: 15px;
    padding:10px ;
    margin:30px auto;
    width:50%;
    box-shadow: 20px 20px 50px #00d27e, 
            -30px -30px 60px #01c580;
    background-image: linear-gradient(45deg,rgba(253, 253, 253, 0.5),rgb(206, 206, 206,0));
   
}
#info{
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    font-size: 30px;
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(21, 95, 65,0.7);
    
}
#heading{
    position: relative;
}
select::-webkit-scrollbar {
    width: 10px;
    
  }
select{
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}
h1{
    color:white;
}
#headImg{

    margin: 0 auto;
    width: 100%;
    height:auto;
    overflow: hidden;
}
input{
    border: none;
    font-size: 20px;
    width: auto;
    outline: none;
    margin: 1rem;
    background: none;
    border-bottom: 1px solid white;
}
h1{
    position: relative;
}
#submission{
    text-align: center;
    margin: 0 auto;

}
#people{
    margin: 0 auto;
    background-image: linear-gradient(45deg,rgb(1, 179, 161), rgb(116, 242, 147,0.3));
    display:grid;
    width: 400px;
    grid-template-columns:repeat(3,33.33%);

}


button{
    font-weight: 500;
    border: none;
    margin: 1em;
    line-height: 22px;
    font-size: 18px;
    background-color: azure;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 2px 10px gray;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    border: none;

}
label{
    font-weight: 400;
}
button:hover{
    background-image:linear-gradient(45deg,rgb(71, 132, 206),rgb(225, 192, 255));
}
button:hover>a{
    color: aliceblue;
}
@media only screen and (max-width: 600px) {
    a{
        color:black;
    }
    h1{
       font-size: 22px;
       
   }
   #start{
       font-size: 12px;
   }
   #stop{
       font-size: 12px;
   }
   select>option{
       font-size: 12px;
       line-height: 15px;
       
   }
   #people{
       width: 200px;
   }
   #box{
    width: 90%;
   }
   input{
       font-size: 18px;
   }
  }
  @media only screen and (max-width: 800px){
    #people{
        width: 200px;
    }
  }